@import "../../../../../scss/app.scss";

.clipboardItem {
  border: solid $v-border-xxs $soft-neutral-color-200;
  border-radius: $v-border-sm;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.itemHeader {
  background-color: $secondary-color-regular;
  border-radius: 4px 4px 0px 0px;
  padding: 0.6rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.itemHeaderColumnLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.6rem;
}

.statusIndicator {
  // background-color: yellow;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  gap: 0.1rem;
}

.indicatorText {
  // background-color: red;

  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: $soft-neutral-color-0;
}

.indicatorTextSmall {
  font-size: 1rem;
  line-height: 1rem;
}

.indicatorTextCalendar {
  // background-color: yellow;
  text-align: center;
}

.indicatorTextDay {
  // background-color: blueviolet;
  color: $soft-neutral-color-0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 0.1rem;
  font-weight: 700;
}

.indicatorTextMonth {
  // background-color: green;
  color: $soft-neutral-color-0;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.icon {
  pointer-events: none;
  user-select: none;
}

.iconBox {
  height: 2.6rem;
  width: 2.6rem;
  // background-color: blue;
  pointer-events: none;
  user-select: none;

  margin-right: 0.2rem;
}

.itemBody {
  background-color: $secondary-color-lightest;
  border-radius: 0px 0px 4px 4px;
  padding: 1rem;
}

.itemBodyHeadingSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.itemBodyHeadingSymbol {
}

.itemBodyHeading {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.9rem;
}

.itemBodyContent {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.itemHeaderColumnRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.itemAction {
  border: solid $v-border-xxs $soft-neutral-color-0;
  border-radius: $v-border-sm;
  padding: 0.4rem;
}
