@import "../../../../../scss/app.scss";

.inputFieldBox {
  margin-bottom: 1rem;
}

.inputField {
  width: 100%;
  border-radius: $v-border-sm;
  border: $v-border-xxs $soft-neutral-color-200 solid;
  padding: 1rem 0.8rem;
}

.inputFieldLable {
  color: $secondary-color-regular;
}

.errorMessageBox {
  color: red;
  font-size: 1.2rem;
  height: 2rem;
}
